body {
    margin: 0;
    outline: none;
    font-family: "Helvetica, Arial,", sans-serif;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.wrapper-section {
    display: block;
    clear: both;
    padding-right: 140px;
    padding-left: 300px;
}

img {
    max-width: 100%;
}

.google-search-row {
    max-width: 620px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 100vh;
}

.google-search-row .iner-section {
    transform: translateY(-30%);
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

.google-search-row .search-logo {
    display: block;
    text-align: center;
    max-width: 270px;
    margin: 0 auto 35px;
}

.google-search-row .search-bar {
    width: 100%;
    display: block;
}

 .search-bar {
    width: 100%;
    display: block;
    /*box-shadow: 0 2px 4px 0 rgba(80,80,82,0.24);*/
    position: relative;
    text-align: left;
    margin: 0;
    padding: 21px 65px 21px 82px;
    height: 48px;
    border-radius: 34px;
    border: solid 1px #c8cbd3;
}

.search-bar .text-field {
    position: absolute;
    top: 5px;
    left: 37px;
    height: 36px;
    width: calc(100% - 100px);
    font-family: Lato-Bold;
    font-size: 16px;
    letter-spacing: 0;
    outline: none;
    border: none;
    line-height: 20px;
    color: #353c52;
    line-height: 1.4px;
    -webkit-appearance: textfield;
}

.search-icon svg {
    fill: #353c52;
}

.search-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #353c52;
    position: absolute;
    top: 45%;
    right: 24px;
    transform: translateY(-50%);
}

.search-des {
    font-size: 15px;
    line-height: 16px;
    color: #5c6f84;
    display: block;
    font-family: Lato-Regular;
    margin-top: 26px;
    text-align: center;
    margin-bottom: 34px;
}

/*SearchResultCssLibrary*/
.search-result-header {
    display: block;
    padding: 20px 140px;
    /* border-bottom: 1px solid #82828245; */
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    position: fixed;
    margin-bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 5;
}

.wrapper-section.result-wrapper {
    margin-top: 122px;
}

.search-result-header .search-header {
    max-width: 620px;
    width: 100%;
    display: block;
    /* box-shadow: 0 2px 4px 0 rgba(80,80,82,0.24); */
    position: relative;
    text-align: left;
    margin: 0;
    float: left;
}

.search-result-header .header-logo {
    float: left;
    width: 142px;
    margin-right: 30px;
}

.search-result-header .search-header .text-field {
    position: absolute;
    top: 5px;
    left: 37px;
    height: 36px;
    width: calc(100% - 100px);
    font-family: Lato-Bold;
    font-size: 16px;
    letter-spacing: 0;
    outline: none;
    border: none;
    line-height: 20px;
    color: #353c52;
    line-height: 1.4px;
    -webkit-appearance: textfield;
}

.left-content {
    max-width: 800px;
    width: 100%;
    display: block;
}

.content-row {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.heading-title {
    display: block;
    margin-bottom: 10px;
}

.heading-title a span {
    color: #1b6e3c;
    font-size: 14px;
    font-family: Lato-Regular;
    display: block;
}

.heading-title a:hover span {
    text-decoration: none;
}

.heading-title a:hover .link-title {
    text-decoration: underline;
}

.heading-title a:hover {
    text-decoration: none;
}

.heading-title a {
    font-size: 18px;
    font-family: Lato-Bold;
    color: #005cbf;
    text-decoration: none;
}

.description {
    font-size: 15px;
    font-family: Lato-Regular;
    color: #000;
    width:50%;
}

.pagination-section {
    display: block;
    margin: 50px 0 50px;
}

.pagination-section .pagination {
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .wrapper-section {
        padding: 0 20px;
    }

    .wrapper-section .google-search-row .search-logo {
        max-width: 200px;
        margin: 0 auto 25px;
    }

    .search-result-header .search-header {
        max-width: none;
    }

    .search-result-header {
        padding: 20px 20px;
        text-align: center;
    }

    .search-result-header .header-logo {
        float: none;
        width: 106px;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.socials{
    left: 60%;
    position: absolute;
    top: 100px;
}
